@using MVC.Models.Responses
@model OrderItemResponse

@{
}

<div class="p-3 mb-2 catalog-product">
    <i class="bi bi-truck" style="font-size:xx-large"></i>
    <div style="flex: 1;">
        <p class="text-product">Name: @Model.Name</p>
        <p class="text-product">Price: <b style="color: limegreen">$</b><b>@Model.Price</b></p>
        <p class="text-product">Amount: @Model.Amount</p>
        <p class="text-product">CreatedAt: @Model.CreatedAt</p>
    </div>
</div>